USE [master]
GO
/****** Object:  Database [Ofertas_Estagios]    Script Date: 03/03/2026 21:22:57 ******/
CREATE DATABASE [Ofertas_Estagios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ofertas_Estagios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ofertas_Estagios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ofertas_Estagios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ofertas_Estagios_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ofertas_Estagios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ofertas_Estagios]
GO
/****** Object:  User [User_Empresa]    Script Date: 03/03/2026 21:22:58 ******/
CREATE USER [User_Empresa] FOR LOGIN [Login_Empresa] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [User_Aluno]    Script Date: 03/03/2026 21:22:58 ******/
CREATE USER [User_Aluno] FOR LOGIN [Login_Aluno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [User_Admin]    Script Date: 03/03/2026 21:22:58 ******/
CREATE USER [User_Admin] FOR LOGIN [Login_Admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [Role_Recrutador]    Script Date: 03/03/2026 21:22:58 ******/
CREATE ROLE [Role_Recrutador]
GO
/****** Object:  DatabaseRole [Role_Candidato]    Script Date: 03/03/2026 21:22:58 ******/
CREATE ROLE [Role_Candidato]
GO
/****** Object:  DatabaseRole [Role_Administrador]    Script Date: 03/03/2026 21:22:58 ******/
CREATE ROLE [Role_Administrador]
GO
ALTER ROLE [Role_Recrutador] ADD MEMBER [User_Empresa]
GO
ALTER ROLE [Role_Candidato] ADD MEMBER [User_Aluno]
GO
ALTER ROLE [db_owner] ADD MEMBER [User_Admin]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 03/03/2026 21:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NIF] [nvarchar](20) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Telefone] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Morada] [nvarchar](50) NULL,
	[Codigo_Postal] [nvarchar](10) NULL,
	[Pais] [nvarchar](20) NULL,
	[Estado_Empresa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EmpresasAtivas]    Script Date: 03/03/2026 21:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_EmpresasAtivas] AS
SELECT 
    Id,
    NIF,
    Nome,
    Telefone,
    Email,
    Morada,
    Codigo_Postal,
    Pais
FROM Empresa 
WHERE Estado_Empresa = 1;

GO
/****** Object:  Table [dbo].[Aluno]    Script Date: 03/03/2026 21:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aluno](
	[Numero] [int] NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Data_Nascimento] [date] NULL,
	[Nacionalidade] [nvarchar](50) NULL,
	[Telemovel] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Morada] [nvarchar](50) NULL,
	[Codigo_Postal] [nvarchar](10) NULL,
	[Estado_Aluno] [bit] NULL,
	[N_Curso] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AlunosAtivos]    Script Date: 03/03/2026 21:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Esconde alunos que desistiram ou acabaram o curso (Ativo = 0)
CREATE VIEW [dbo].[vw_AlunosAtivos] AS
SELECT 
    Numero, 
    Nome,
    Data_Nascimento,
    Nacionalidade,
    Telemovel,
    Email,
    Morada,
    Codigo_Postal,
    N_Curso
FROM Aluno 
WHERE Estado_Aluno = 1;

GO
/****** Object:  Table [dbo].[Candidatura]    Script Date: 03/03/2026 21:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidatura](
	[Id_Candidatura] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nvarchar](10) NOT NULL,
	[Data_Submissao] [datetime] NULL,
	[OBS] [nvarchar](200) NULL,
	[Id_Estagio] [int] NOT NULL,
	[N_Aluno] [int] NOT NULL,
 CONSTRAINT [PK__Candidat__60E0B84E1E29412C] PRIMARY KEY CLUSTERED 
(
	[Id_Candidatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 03/03/2026 21:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[Numero] [int] NOT NULL,
	[Titulo] [nvarchar](50) NULL,
	[Grau] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historico_Candidatura]    Script Date: 03/03/2026 21:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historico_Candidatura](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Estado_Atual] [nvarchar](10) NULL,
	[Estado_Anterior] [nvarchar](10) NULL,
	[Data_Alteracao] [datetime] NULL,
	[OBS] [nvarchar](200) NULL,
	[Id_Candidatura] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oferta_Estagio]    Script Date: 03/03/2026 21:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oferta_Estagio](
	[Id_Estagio] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](50) NOT NULL,
	[Descricao] [nvarchar](200) NULL,
	[Estado] [nvarchar](10) NOT NULL,
	[N_Vagas] [int] NULL,
	[Vagas_Ocupadas] [int] NULL,
	[Data_Publicacao] [datetime] NULL,
	[Data_Limite] [date] NULL,
	[Id_Empresa] [int] NULL,
 CONSTRAINT [PK__Oferta_E__AC8F7F7EB45F8359] PRIMARY KEY CLUSTERED 
(
	[Id_Estagio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Aluno] ([Numero], [Nome], [Data_Nascimento], [Nacionalidade], [Telemovel], [Email], [Morada], [Codigo_Postal], [Estado_Aluno], [N_Curso]) VALUES (2024001, N'João Silva', CAST(N'2002-05-15' AS Date), N'Portuguesa', N'912345678', N'a2024001@aluno.pt', N'Rua das Flores, 10', N'4000-001', 1, 1)
INSERT [dbo].[Aluno] ([Numero], [Nome], [Data_Nascimento], [Nacionalidade], [Telemovel], [Email], [Morada], [Codigo_Postal], [Estado_Aluno], [N_Curso]) VALUES (2024002, N'Beatriz Costa', CAST(N'2003-08-20' AS Date), N'Portuguesa', N'923456789', N'a2024002@aluno.pt', N'Av. da Liberdade, 55', N'1250-001', 1, 1)
INSERT [dbo].[Aluno] ([Numero], [Nome], [Data_Nascimento], [Nacionalidade], [Telemovel], [Email], [Morada], [Codigo_Postal], [Estado_Aluno], [N_Curso]) VALUES (2024003, N'Carlos Mendes', CAST(N'2001-12-10' AS Date), N'Portuguesa', N'934567890', N'a2024003@aluno.pt', N'Praceta do Sol, 3', N'4700-111', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Candidatura] ON 

INSERT [dbo].[Candidatura] ([Id_Candidatura], [Estado], [Data_Submissao], [OBS], [Id_Estagio], [N_Aluno]) VALUES (1, N'ACEITE', CAST(N'2024-05-02T09:00:00.000' AS DateTime), N'Tenho muito interesse em Backend.', 1, 2024001)
INSERT [dbo].[Candidatura] ([Id_Candidatura], [Estado], [Data_Submissao], [OBS], [Id_Estagio], [N_Aluno]) VALUES (2, N'ACEITE', CAST(N'2024-05-03T10:30:00.000' AS DateTime), N'Disponibilidade imediata.', 1, 2024005)
INSERT [dbo].[Candidatura] ([Id_Candidatura], [Estado], [Data_Submissao], [OBS], [Id_Estagio], [N_Aluno]) VALUES (5, N'RECUSADO', CAST(N'2025-12-09T00:46:59.890' AS DateTime), N'muito interessado', 2, 2024005)
SET IDENTITY_INSERT [dbo].[Candidatura] OFF
GO
INSERT [dbo].[Curso] ([Numero], [Titulo], [Grau]) VALUES (1, N'Engenharia Informática', N'Licenciatura')
INSERT [dbo].[Curso] ([Numero], [Titulo], [Grau]) VALUES (2, N'Gestão de Empresas', N'Licenciatura')
INSERT [dbo].[Curso] ([Numero], [Titulo], [Grau]) VALUES (3, N'Marketing Digital', N'Mestrado')
GO
SET IDENTITY_INSERT [dbo].[Empresa] ON 

INSERT [dbo].[Empresa] ([Id], [NIF], [Nome], [Telefone], [Email], [Morada], [Codigo_Postal], [Pais], [Estado_Empresa]) VALUES (1, N'501234567', N'SoftTech', N'900000000', N'rh@softtech.pt', N'vasco da gama 3', N'4587-400', N'Portugal', 1)
INSERT [dbo].[Empresa] ([Id], [NIF], [Nome], [Telefone], [Email], [Morada], [Codigo_Postal], [Pais], [Estado_Empresa]) VALUES (2, N'501111111', N'TechSolutions Lda', N'210123456', N'rh@techsolutions.pt', N'Av. da Liberdade, 100', N'1250-144', N'Portugal', 1)
INSERT [dbo].[Empresa] ([Id], [NIF], [Nome], [Telefone], [Email], [Morada], [Codigo_Postal], [Pais], [Estado_Empresa]) VALUES (3, N'502222222', N'Construções Norte S.A.', N'220987654', N'geral@construnorte.pt', N'Rua de Santa Catarina, 50', N'4000-001', N'Portugal', 1)
SET IDENTITY_INSERT [dbo].[Empresa] OFF
GO
SET IDENTITY_INSERT [dbo].[Historico_Candidatura] ON 

INSERT [dbo].[Historico_Candidatura] ([Id], [Estado_Atual], [Estado_Anterior], [Data_Alteracao], [OBS], [Id_Candidatura]) VALUES (1, N'PENDENTE', NULL, CAST(N'2024-05-02T09:00:00.000' AS DateTime), N'Candidatura submetida pelo aluno.', 1)
INSERT [dbo].[Historico_Candidatura] ([Id], [Estado_Atual], [Estado_Anterior], [Data_Alteracao], [OBS], [Id_Candidatura]) VALUES (2, N'PENDENTE', NULL, CAST(N'2024-05-03T10:30:00.000' AS DateTime), N'Candidatura submetida.', 2)
INSERT [dbo].[Historico_Candidatura] ([Id], [Estado_Atual], [Estado_Anterior], [Data_Alteracao], [OBS], [Id_Candidatura]) VALUES (3, N'ACEITE', N'PENDENTE', CAST(N'2024-05-10T15:00:00.000' AS DateTime), N'Perfil ideal. Selecionado após entrevista.', 2)
SET IDENTITY_INSERT [dbo].[Historico_Candidatura] OFF
GO
SET IDENTITY_INSERT [dbo].[Oferta_Estagio] ON 

INSERT [dbo].[Oferta_Estagio] ([Id_Estagio], [Titulo], [Descricao], [Estado], [N_Vagas], [Vagas_Ocupadas], [Data_Publicacao], [Data_Limite], [Id_Empresa]) VALUES (1, N'Desenvolvedor Backend Java', N'Desenvolvimento de APIs REST e manutenção de base de dados. Requer conhecimentos de SQL.', N'Ativa', 2, 2, CAST(N'2024-05-01T09:00:00.000' AS DateTime), CAST(N'2024-09-30' AS Date), 1)
INSERT [dbo].[Oferta_Estagio] ([Id_Estagio], [Titulo], [Descricao], [Estado], [N_Vagas], [Vagas_Ocupadas], [Data_Publicacao], [Data_Limite], [Id_Empresa]) VALUES (2, N'Suporte Técnico Helpdesk', N'Apoio de primeira linha a clientes e configuração de hardware.', N'Ativa', 1, 1, CAST(N'2024-05-15T10:30:00.000' AS DateTime), CAST(N'2026-08-31' AS Date), 1)
INSERT [dbo].[Oferta_Estagio] ([Id_Estagio], [Titulo], [Descricao], [Estado], [N_Vagas], [Vagas_Ocupadas], [Data_Publicacao], [Data_Limite], [Id_Empresa]) VALUES (3, N'Acompanhamento de Obra Civil', N'Estágio em ambiente de obra, leitura de projetos e gestão de equipas.', N'Fechada', 1, 0, CAST(N'2024-06-01T08:00:00.000' AS DateTime), CAST(N'2026-09-15' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Oferta_Estagio] OFF
GO
/****** Object:  Index [UK_Candidatura_Aluno_Estagio]    Script Date: 03/03/2026 21:22:58 ******/
ALTER TABLE [dbo].[Candidatura] ADD  CONSTRAINT [UK_Candidatura_Aluno_Estagio] UNIQUE NONCLUSTERED 
(
	[Id_Estagio] ASC,
	[N_Aluno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Empresa_NIF]    Script Date: 03/03/2026 21:22:58 ******/
ALTER TABLE [dbo].[Empresa] ADD  CONSTRAINT [UK_Empresa_NIF] UNIQUE NONCLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aluno] ADD  DEFAULT ((1)) FOR [Estado_Aluno]
GO
ALTER TABLE [dbo].[Candidatura] ADD  CONSTRAINT [DF__Candidatu__Estad__4BAC3F29]  DEFAULT ('PENDENTE') FOR [Estado]
GO
ALTER TABLE [dbo].[Candidatura] ADD  CONSTRAINT [DF__Candidatu__Data___4CA06362]  DEFAULT (sysdatetime()) FOR [Data_Submissao]
GO
ALTER TABLE [dbo].[Empresa] ADD  DEFAULT ((1)) FOR [Estado_Empresa]
GO
ALTER TABLE [dbo].[Historico_Candidatura] ADD  DEFAULT (sysdatetime()) FOR [Data_Alteracao]
GO
ALTER TABLE [dbo].[Oferta_Estagio] ADD  CONSTRAINT [DF__Oferta_Es__Estad__4222D4EF]  DEFAULT ('Ativa') FOR [Estado]
GO
ALTER TABLE [dbo].[Oferta_Estagio] ADD  CONSTRAINT [DF__Oferta_Es__N_Vag__4316F928]  DEFAULT ((1)) FOR [N_Vagas]
GO
ALTER TABLE [dbo].[Oferta_Estagio] ADD  CONSTRAINT [DF__Oferta_Es__Vagas__440B1D61]  DEFAULT ((0)) FOR [Vagas_Ocupadas]
GO
ALTER TABLE [dbo].[Oferta_Estagio] ADD  CONSTRAINT [DF__Oferta_Es__Data___44FF419A]  DEFAULT (sysdatetime()) FOR [Data_Publicacao]
GO
ALTER TABLE [dbo].[Aluno]  WITH CHECK ADD  CONSTRAINT [FK_Aluno_Curso] FOREIGN KEY([N_Curso])
REFERENCES [dbo].[Curso] ([Numero])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Aluno] CHECK CONSTRAINT [FK_Aluno_Curso]
GO
ALTER TABLE [dbo].[Candidatura]  WITH CHECK ADD  CONSTRAINT [FK_Candidatura_Aluno] FOREIGN KEY([N_Aluno])
REFERENCES [dbo].[Aluno] ([Numero])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Candidatura] CHECK CONSTRAINT [FK_Candidatura_Aluno]
GO
ALTER TABLE [dbo].[Candidatura]  WITH CHECK ADD  CONSTRAINT [FK_Candidatura_Estagio] FOREIGN KEY([Id_Estagio])
REFERENCES [dbo].[Oferta_Estagio] ([Id_Estagio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Candidatura] CHECK CONSTRAINT [FK_Candidatura_Estagio]
GO
ALTER TABLE [dbo].[Historico_Candidatura]  WITH CHECK ADD  CONSTRAINT [FK_Historico_Candidatura] FOREIGN KEY([Id_Candidatura])
REFERENCES [dbo].[Candidatura] ([Id_Candidatura])
GO
ALTER TABLE [dbo].[Historico_Candidatura] CHECK CONSTRAINT [FK_Historico_Candidatura]
GO
ALTER TABLE [dbo].[Oferta_Estagio]  WITH CHECK ADD  CONSTRAINT [FK_Oferta_Empresa] FOREIGN KEY([Id_Empresa])
REFERENCES [dbo].[Empresa] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Oferta_Estagio] CHECK CONSTRAINT [FK_Oferta_Empresa]
GO
ALTER TABLE [dbo].[Candidatura]  WITH CHECK ADD  CONSTRAINT [CK__Candidatu__Estad__4AB81AF0] CHECK  (([Estado]='ACEITE' OR [Estado]='RECUSADO' OR [Estado]='PENDENTE'))
GO
ALTER TABLE [dbo].[Candidatura] CHECK CONSTRAINT [CK__Candidatu__Estad__4AB81AF0]
GO
ALTER TABLE [dbo].[Oferta_Estagio]  WITH CHECK ADD  CONSTRAINT [CK__Oferta_Es__Estad__412EB0B6] CHECK  (([Estado]='Fechada' OR [Estado]='Ativa'))
GO
ALTER TABLE [dbo].[Oferta_Estagio] CHECK CONSTRAINT [CK__Oferta_Es__Estad__412EB0B6]
GO
ALTER TABLE [dbo].[Oferta_Estagio]  WITH CHECK ADD  CONSTRAINT [CK_Datas_Validas] CHECK  (([Data_Limite]>=CONVERT([date],[Data_Publicacao])))
GO
ALTER TABLE [dbo].[Oferta_Estagio] CHECK CONSTRAINT [CK_Datas_Validas]
GO
ALTER TABLE [dbo].[Oferta_Estagio]  WITH CHECK ADD  CONSTRAINT [CK_LimiteVagas] CHECK  (([Vagas_Ocupadas]<=[N_Vagas]))
GO
ALTER TABLE [dbo].[Oferta_Estagio] CHECK CONSTRAINT [CK_LimiteVagas]
GO
/****** Object:  StoredProcedure [dbo].[SP_AtualizarEstadoCandidatura]    Script Date: 03/03/2026 21:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AtualizarEstadoCandidatura]
    @Id_Candidatura INT,
    @NovoEstado NVARCHAR(10),
    @OBS NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @EstadoAnterior NVARCHAR(10);
    -- Validações
    IF @NovoEstado NOT IN ('ACEITE', 'RECUSADO', 'PENDENTE')
    BEGIN
        RAISERROR('Erro: Estado inválido.', 16, 1);
        RETURN;
    END

    SELECT @EstadoAnterior = Estado 
    FROM Candidatura 
    WHERE Id_Candidatura = @Id_Candidatura;

    IF @EstadoAnterior IS NULL
    BEGIN
        RAISERROR('Erro: Candidatura não encontrada.', 16, 1);
        RETURN;
    END

    UPDATE Candidatura
    SET Estado = @NovoEstado,
        OBS = @OBS -- opcional
    WHERE Id_Candidatura = @Id_Candidatura;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CriarOfertaEstagio]    Script Date: 03/03/2026 21:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--2. (depende da view vw_EmpresasAtivas)
CREATE PROCEDURE [dbo].[SP_CriarOfertaEstagio]
    @Id_Empresa INT,
    @Titulo VARCHAR(50),
    @Descricao NVARCHAR(200) = NULL,
    @N_Vagas INT,
    @Data_Limite DATE = NULL
AS
BEGIN
    IF @Id_Empresa IS NULL
        PRINT 'Id_Empresa é obrigatório.'
    ELSE IF NOT EXISTS (SELECT * FROM vw_EmpresasAtivas WHERE Id = @Id_Empresa)
        PRINT 'Empresa inválida ou inativa.'
    ELSE IF @Titulo IS NULL
        PRINT 'Título é obrigatório.'
    ELSE IF @N_Vagas IS NULL OR @N_Vagas <= 0
        PRINT 'Número de vagas inválido.'
    ELSE
    BEGIN
        INSERT INTO Oferta_Estagio
            (Titulo, Descricao, Estado, N_Vagas, Vagas_Ocupadas, Data_Publicacao, Data_Limite, Id_Empresa)
        VALUES
            (@Titulo, @Descricao, 'ATIVA', @N_Vagas, 0, GETDATE(), @Data_Limite, @Id_Empresa)

        PRINT 'Oferta criada com sucesso.'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EstagiosComMaisProcura]    Script Date: 03/03/2026 21:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EstagiosComMaisProcura]
AS
BEGIN
    SELECT
        O.Id_Estagio,
        O.Titulo,
        E.Nome AS Empresa,
        COUNT(C.Id_Candidatura) AS Total_Candidaturas
    FROM Oferta_Estagio O, Empresa E, Candidatura C
    WHERE O.Id_Empresa = E.Id
      AND C.Id_Estagio = O.Id_Estagio
    GROUP BY O.Id_Estagio, O.Titulo, E.Nome
    ORDER BY Total_Candidaturas DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EstatisticasGerais]    Script Date: 03/03/2026 21:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EstatisticasGerais]
AS
BEGIN
    SELECT
        (SELECT COUNT(*) FROM Aluno) AS Total_Alunos,
        (SELECT COUNT(*) FROM Empresa) AS Total_Empresas,
        (SELECT COUNT(*) FROM Oferta_Estagio) AS Total_Ofertas,

        (SELECT COUNT(*) FROM Oferta_Estagio WHERE Estado = 'ATIVA') AS Ofertas_Ativas,
        (SELECT COUNT(*) FROM Oferta_Estagio WHERE Estado = 'FECHADA') AS Ofertas_Fechadas,

        (SELECT COUNT(*)
         FROM Oferta_Estagio
         WHERE Estado = 'ATIVA'
            AND N_Vagas IS NOT NULL
            AND Vagas_Ocupadas IS NOT NULL
            AND Vagas_Ocupadas < N_Vagas
            AND (Data_Limite IS NULL OR Data_Limite >= CONVERT(date, GETDATE()))
        ) AS Ofertas_Disponiveis,

        (SELECT COUNT(*) FROM Candidatura) AS Total_Candidaturas,
        (SELECT COUNT(*) FROM Candidatura WHERE Estado = 'PENDENTE') AS Candidaturas_Pendentes,
        (SELECT COUNT(*) FROM Candidatura WHERE Estado = 'ACEITE') AS Candidaturas_Aceites,
        (SELECT COUNT(*) FROM Candidatura WHERE Estado = 'RECUSADO') AS Candidaturas_Recusadas
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarCandidaturasPorAluno]    Script Date: 03/03/2026 21:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ListarCandidaturasPorAluno]
    @N_Aluno INT
AS
BEGIN
    IF NOT EXISTS (SELECT * FROM Aluno WHERE Numero = @N_Aluno)
        PRINT 'Aluno não existe.'
    ELSE
        SELECT
            C.Id_Candidatura,
            C.Data_Submissao,
            C.Estado,
            C.OBS,
            O.Id_Estagio,
            O.Titulo,
            E.Nome AS Empresa
        FROM Candidatura C, Oferta_Estagio O, Empresa E
        WHERE C.N_Aluno = @N_Aluno
            AND O.Id_Estagio = C.Id_Estagio
            AND E.Id = O.Id_Empresa
        ORDER BY C.Data_Submissao DESC
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ListarCandidaturasPorEmpresa]    Script Date: 03/03/2026 21:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ListarCandidaturasPorEmpresa]
    @Id_Empresa INT
AS
BEGIN
    IF NOT EXISTS (SELECT * FROM Empresa WHERE Id = @Id_Empresa)
        PRINT 'Empresa não existe.'
    ELSE
        SELECT
            C.Id_Candidatura,
            C.Data_Submissao,
            C.Estado,
            A.Numero AS N_Aluno,
            A.Nome AS Nome_Aluno,
            O.Id_Estagio,
            O.Titulo
        FROM Oferta_Estagio O, Candidatura C, Aluno A
        WHERE O.Id_Empresa = @Id_Empresa
          AND C.Id_Estagio = O.Id_Estagio
          AND A.Numero = C.N_Aluno
        ORDER BY C.Data_Submissao DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarOfertasAtivas]    Script Date: 03/03/2026 21:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ListarOfertasAtivas]
AS
BEGIN
    SELECT
        O.Id_Estagio,
        O.Titulo,
        O.Descricao,
        O.Data_Publicacao,
        O.Data_Limite,
        O.N_Vagas,
        O.Vagas_Ocupadas,
        (O.N_Vagas - O.Vagas_Ocupadas) AS Vagas_Disponiveis,
        E.Nome AS Empresa
    FROM Oferta_Estagio O, Empresa E
    WHERE O.Id_Empresa = E.Id
      AND O.Estado = 'ATIVA'
      AND O.N_Vagas IS NOT NULL
      AND O.Vagas_Ocupadas IS NOT NULL
      AND O.Vagas_Ocupadas < O.N_Vagas
      AND (O.Data_Limite IS NULL OR O.Data_Limite >= CONVERT(date, GETDATE()))
    ORDER BY O.Data_Publicacao DESC
END
GO
USE [master]
GO
